/* Спецификация */

body {
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000;
	line-height: 1.4em;
}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

h3 {
	font-weight: 800;
	font-size: 19px;
}


.container {
	width: 1110px;
	margin: 0 auto;
}

.container-flex {
	display: flex;
	align-items: center;
}

.container_full-height {
	height: 100%;
	display: flex;
}

a {
	text-decoration: none;
}

.btn {
	padding: 13px 0 15px;
	font-size: 15px;
	font-weight: 400;
	display: block;
	text-align: center;
	border-radius: 100px;
	background: #EF3131;
	width: 200px;
	color: #fff;
	/*	Стили для hover*/
	display: inline-block;
 	vertical-align: middle;
 	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
 	-webkit-transition-property: box-shadow, transform;
 	transition-property: box-shadow, transform;
 	transition: transform .5s ease, box-shadow .5s ease;
}

.btn:hover {
 	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .5);
 	-webkit-transform: scale(1.1);
 	transition: transform .5s ease, box-shadow .5s ease;
}

.btn_ghost:hover {
	color: #fff;
	border: 1px solid #FF7E36;
	background: #FF7E36;
	transition: background 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.section-title {
	margin-bottom: 77px;
}

.section-title__heading {
	font-size: 36px;
	line-height: 1.4em;
	margin-bottom: 19px;
}

.section-title__text {
	max-width: 561px;
	display: block;
}

/* Первая секция */

.header {
	background: linear-gradient(84.76deg, rgba(81, 4, 83, 0.58) 20.8%, rgba(87, 32, 72, 0.29) 87.4%), url('../img/section1-bg.jpg') no-repeat center top / cover;
	color: #fff;
}

.nav {
	border-bottom: 1px solid rgba(255, 255, 255, 0.58);
}

.logo {
	background: url('../img/logo.svg');
	width: 46px;
	height: 46px;
	display: block;
	margin-right: 160px;
}

.menu__list {
	display: flex;
}

.menu__item a {
	text-decoration: none;
	color: #fff;
	line-height: 1.4em;
	padding: 30px 24px;
	display: block;
	border-bottom: 2px solid transparent;
	transition: border-bottom .5s ease;
}

.menu__item a:hover {
	border-bottom: 2px solid #fff;
	transition: border-bottom .5s ease;
}

.tel {
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	margin-left: auto;
	transition: transform 0.3s ease;
}

.tel:hover {
	transform: scale(1.03);
	transition: transform 0.3s ease;
}

.wrap {
	padding: 142px 0 66px;
}

.offer__title {
	font-size: 48px;
	width: 700px;
	line-height: 1.2em;
	width: 572px;
}

.offer__text {
	width: 340px;
	margin: 20px 0 22px;
}

.offer__arrow {
	display: block;
	background: url('../img/arrow-down.svg') no-repeat;
	height: 27px;
	width: 16px;
	opacity: .6;
	transition: opacity .4s ease;
	margin-top: 165px;
}

.offer__arrow:hover {
	opacity: 1;
	transition: opacity .4s ease;
}

/*Выбор саксофона*/

.choice {
	padding: 100px 0;
}

.saxophones {
	display: grid;
  	grid-template-columns: repeat(2, auto);
  	justify-content: space-between;
  	grid-row-gap: 51px;
  	padding-bottom: 80px;
}

.wrapper {
	display: flex;
	width: 536px;
	align-items: center;
	background: #fff;
	border-radius: 0px 12px 12px 12px;
	transition: box-shadow .5s ease, transform .5s ease;
}

.wrapper:hover {
	box-shadow: 0px 4px 30px rgba(0, 0, 0, .05);
	transition: box-shadow .5s ease;
}

.wrapper__photo {
	border-radius: 0px 10px 10px 10px;
	margin-right: 30px;
}

.wrapper__text {
	margin: 15px 0;
	font-size: 15px;
	width: 267px;
}

.wrapper__prise {
	color: #EF3131;
}

/*Не мои выступления*/

.concert {
	background: #F7F6F8;
	padding: 97px 0 1px;
}

.performance {
	display: flex;
	justify-content: space-between;
	padding-bottom: 89px;
	border-bottom: 1px solid #B8B8B8;
}

.performance__item {
	position: relative;
	transition: opacity .5s ease; 
}

.performance__item:hover:before {
	content: '';
	position: absolute;
	background: url('../img/search.svg') no-repeat center, linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	border-radius: 15px;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: opacity .5s ease;
}

.performance__img {
	width: 345px;
	height: 100%;
	display: block;
	border-radius: 15px;
}

.info {
	margin-top: 60px;
}

.info__list {
	display: block;
	display: flex;
	justify-content: space-between;
}

.info__item {
	width: 100px;
	text-align: center;
}

.info__break {
	display: none;
}

.info__number {
	font-size: 36px;
	font-weight: 700;
}

.info__text{
	margin-top: 15px;
}

.rule {
	background: #F4EAFF;
	border-radius: 15px;
	max-width: 801px;
	text-align: center;
	padding: 56px 15px;
	margin: 72px auto -167px;
	z-index: 2;
	position: relative;
}

.rule__title {
	color: #323232;
}

.rule__text {
	width: 625px;
	padding: 25px 0 27px;
	display: block;
	margin: 0 auto;
}

.btn_rule {
	margin: 0 auto;
}

/*Видео*/

.video {
	padding: 260px 0 103px;
	text-align: center;
}

.section-title__text_video {
	margin: 0 auto;
}

.video__block {
	padding-bottom: 62px;
	border-bottom: 1px solid #E0E0E0;
	width: 830px;
	margin: 0 auto;
}

.video__frame {
	width: 830px;
	height: 426px;
	border-radius: 10px;
}

/*Футер*/

.footer {
	background: #F7F6F8;
	padding: 100px 0;
	font-size: 14px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.contacts {
	display: block;

}

.contacts__list {
	margin: 32px 0 30px;
}

.contacts__item {
	display: flex;
	align-items: center;
	padding-bottom: 22px;
}

.contacts__link {
	text-decoration: none;
	color: #000;
	transition: border-bottom .4s ease;
}

.contacts__link:hover {
	color: #5C2BC6;
	transition: color .4s ease;
}

.contacts__item:last-child {
	padding-bottom: 0;
}

.contacts__icon {
	padding-right: 17px;
}

.social {
	display: block;
}

.social__list {
	margin-top: 74px;
	width: 242px;
	display: flex;
	justify-content: space-between;
}

.social__text {
	display: block;
	color: #FF0C0C;
	transition: color .4s ease;
}

.social__text:hover {
	color: #5C2BC6;
	transition: color .4s ease;
}

.subscribe {
	font-size: 13px;
	display: block;
	margin: auto 0;
}

.subscribe__form {
	margin: 21px 0 23px;
	align-items: center;
	display: flex;
}

.subscribe__input {
	width: 100%;
	max-width: 385px;
	height: 45px;
	border: 1px solid #F2F2F2;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	font-family: 'Ubuntu', sans-serif;
	padding-left: 33px;
	display: block;
	outline:none;
	transition: box-shadow .5s ease;
}

.subscribe__input:hover {
	box-shadow: none;
	transition: box-shadow .5s ease;
}

.subscribe__btn {
	width: 45px;
	height: 45px;
	background: #FF0C0C;
	border-radius: 50%;
	border: none;
	margin-left: -46px;
	cursor: pointer;
	/*Стили для hover*/
	display: inline-block;
 	vertical-align: middle;
 	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
 	-webkit-transition-property: transform;
 	transition-property: transform;
 	transition: transform .3s ease;
}

.subscribe__btn:hover {
 	-webkit-transform: scale(1.075);
 	transform: scale(1.075);
 	transition: transform .3s ease;
}



/*  RESPONSIVE  */
 


/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	
	.container {
		max-width: 960px;
	}

	.logo {
		margin-right: 93px
	}

	.wrapper {
		width: auto;
	}

	.wrapper__text {
		width: 240px
	}

	.wrapper__photo {
		margin-right: 20px
	}

	.performance__img {
		width: 300px;
	}

	.performance__item {

	}
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		max-width: 720px;
	}

	.menu {
		margin-left: auto;
	}

	.tel {
		display: none;
	}

	.logo {
		margin-right: 52px
	}
	.saxophones {
		grid-template-columns: none;
	}

	.wrapper__photo {
		margin-right: 30px;
	}

	.wrapper__text {
		width: 267px;
	}

	.performance {
		flex-wrap: wrap;
	}

	.performance__item:last-child {
		margin-top: 29px;
	}

	.performance__img {
		width: 345px;
	}

	.video__block {
		width: 100%;
	}

	.video__frame {
		width: 100%;
	}

	.footer-content {
		flex-wrap: wrap;
		justify-content: start;
	}

	.contacts {
		margin-right: 142px;
	}

	.subscribe {
		margin-top: 82px;
	}
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		max-width: 540px;
	}

	.nav {
		padding: 22px 0;
	}

	.menu__item a {
		padding: 20px 10px;
		font-size: 15px;
	}

	.offer__title {
		font-size: 38px;
		width: 500px;
	}

	.performance {
		flex-wrap: wrap;
	}
	.performance__item {
		margin: 0 auto;
	}
	.performance__item:first-child {
		margin-bottom: 29px;
	}

	.info__list {
		flex-wrap: wrap;
	}

	.info__break {
		flex-basis: 100%;
		margin-bottom: 25px;
	}

	.info__item {
		margin-bottom: 25px;
	}

	.info__item:nth-child(6) {
		margin-left: 80px;
	}

	.info__item:last-child {
		margin-right: 80px;
		margin-bottom: 0;
	}

	.rule__text {
		width: 100%
	}

	.video__frame {
		height: 300px;
	}

	.contacts {
		margin-right: 0;	
	}

	.footer-content {
		display: flex;
		justify-content: space-between;
	}
}


/* Extra small: 480px - 575px */
@media (max-width: 575px) {
	
	.container {
		padding: 0 15px;
		width: auto;
	}

	.section-title {
		margin-bottom: 70px;
	}

	.section-title__heading {
		font-size: 28px;
	}

	.menu {
		display: none;
	}

	.tel {
    	display: block;
	}

	.offer__title {
		font-size: 35px;
		width: 440px;
	}

	.offer__arrow {
		margin-right: auto;
		margin-left: auto;
	}

	.wrapper__photo {
		width: 45%;
	}

	.wrapper__text {
		width: 87%;
	}

	.info__item:nth-child(6) {
		margin-left: 58px;
	}

	.info__item:last-child {
		margin-right: 64px;
	}

	.video__frame {
		height: 250px;
	}

	.contacts {
		margin-bottom: 64px;
	}

}

/* Extra small: 371px - 480px */
@media (max-width: 480px) {

	p {
		font-size: 14px;
	}

	.btn {
		width: 100%;
	}

	.section-title {
		margin-bottom: 45px;
	}

	.nav {
		padding: 15px 0;
	}

	.wrap {
    	padding: 115px 0 70px;
	}

	.offer {
		text-align: center;
	}

	.offer__title {
		font-size: 30px;
		max-width: 100%;
		margin: 0 auto;
	}

	.offer__text {
		max-width: 300px;
		margin: 25px auto;
	}

	.offer__arrow {
		margin-top: 140px;
	}

	.choice {
	    padding: 60px 0;
	}
	.saxophones {
		grid-row-gap: 30px;
		padding-bottom: 40px;
	}

	.wrapper {
		flex-wrap: wrap;
	}

	.wrapper__photo {
		width: 100%;
		margin-bottom: 18px;
		margin-right: 0;
	}

	.wrapper__text {
		width: 100%;
		margin: 7px 0;
	}

	.concert {
	    padding: 55px 0;
	}

	.performance{
		padding-bottom: 40px;
	}

	.performance__item {
		margin-bottom: 29px;
	}

	.performance__item:last-child {
		margin: 0 auto;
	}

	.performance__img {
		width: 100%;
	}

	.rule {
		margin: 60px auto -255px;
	}

	.video {
		padding: 240px 0 60px;
	}

	.video__block {
		padding-bottom: 40px;
	}

	.video__frame {
		height: 200px;
	}

	.subscribe__form {
		width: 100%;
	}

	.info__list {
		padding-right: 30px;
		padding-left: 30px;
	}

	.info__item:nth-child(6) {
		margin-left: 0px;
	}

	.info__item:last-child {
		margin: 0 auto;
	}

	.footer {
	    padding: 55px 0;
	}

	.social__list {
		margin-top: 30px;
	}

	.subscribe {
		margin-top: 64px;
	}

}

/* Extra small: 320px - 370px */
@media (max-width: 370px) {

	.wrap {
    	padding: 80px 0 65px;
	}

	.offer__title {
		width: 100%;
		font-size: 30px;
	}

	.offer__text {
		max-width: 290px;
	}

	.offer__arrow {
		margin-top: 70px;
	}

	.video__frame {
		height: 160px;
	}

	.info__list {
		max-width: 290px;
		margin: 0 auto;
	}
}


/* Galaxy Fold: 280px - 319px  */
@media (max-width: 319px) {

	.wrap {
	    	padding: 105px 0 80px;
		}

	.offer__text {
		max-width: 100%;
	}

	.offer__arrow {
		margin-top: 90px;
	}

	.info__list {
		padding-right: 15px;
		padding-left: 15px;
	}


}

/*Для сенсорных экранов*/	
@media (-moz-touch-enabled: 1), (pointer:coarse) {
    .offer__arrow {
    	opacity: 1;
    }
}